body{
	background-color: black;
	font-size: 30px;
	font-weight: 900;
}

.app{
	color: rgb(252, 251, 251);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fa-lightbulb{
	float: left;
	color:	rgb(255, 255, 255);
	margin: 2px;
	cursor: pointer;
}

#text{
	font-size: 30px;
	font-weight: bolder;
	border: 2px solid black;;
	border-radius: 15px;
}

.colorMode{
	background-color: rgb(252, 252, 252);
	color: rgb(7, 7, 7);
	
}

.colorMode2{
	background-color: rgb(255, 255, 255);
	color: rgb(8, 8, 8);
}


.btnColor{
	background-color: black;
	color: white;
}

ul{

	list-style: none;
}

#add{
	font-size: 30px;
	font-weight: 900;
	border-radius: 15px;
	cursor: pointer;
}

.checkbox {
	float: left;
	transform: scale(1.5);
	cursor: pointer;
}

li{
	font-size: 45px;
	padding: 5px;
}

.strike{
	text-decoration: line-through;
}

.fa-trash-can{
	cursor:pointer;
}