body{
	background-color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: 900;
}

.app {
	color: rgb(252, 251, 251);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.items{
	color: white;
}
li a{

	color: white;
}
.sMode{
	color: black;
}

.fa-lightbulb{
	float: left;
	color:	rgb(255, 255, 255);
	margin: 2px;
	cursor: pointer;
}

#text {
	font-size: 30px;
	font-weight: bolder;
	border: 5px solid black;
	border-radius: 15px 15px 15px 15px;
	text-transform: uppercase;
}

.loginBtn{
	font-weight: bolder;
}

.colorMode{
	background-color: rgb(252, 252, 252);
	color: rgb(7, 7, 7);
	
}

.colorMode2{
	border: 3px solid white;
	background-color: rgb(12, 12, 12);
	color: white;
}

ul {

	list-style: none;
}

#add {
	font-size: 30px;
	font-weight: 900;
	border-radius: 15px;
	cursor: pointer;
}
.checkbox {
	float: left;
	transform: scale(1.5);
}

li {
	border: 1px solid white;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	padding: 5px;
	text-transform: uppercase;
}

.strike {
	text-decoration: line-through;
}